<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="tel" name="mobile" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Message : </ion-label>
      <ion-textarea type="text" name="message" required></ion-textarea>
    </ion-item>




    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Envoyer message</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
