<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historique des Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ul>
  <li>commande numéro 5 - <a routerLink="/voir-commande/5">Voir le detail</a></li>
  <li>commande numéro 10 - <a routerLink="/voir-commande/10">Voir le detail</a></li>
  <li>commande numéro 12 - <a routerLink="/voir-commande/12">Voir le detail</a></li>
  <li>commande numéro 25 - <a routerLink="/voir-commande/25">Voir le detail</a></li>
  <li>commande numéro 40 - <a routerLink="/voir-commande/40">Voir le detail</a></li>
</ul>
</ion-content>
